<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>vi company - Academy Logo</title>

    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="icon" href="assets/images/favicons/32.png" sizes="32x32">
</head>

<body>

    <div class="container">
        <nav class="navigation js-preset-list">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <button class="anchor is-active js-preset-button" data-date="2007-03-14">
                        <time class="navigation__date" timestamp="2007-03-14">14-03-2007</time>
                        Founding Date
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button" data-date="2007-07-01" data-image="assets/images/backgrounds/2007-07-01.jpg">
                        <time class="navigation__date" timestamp="2007-07-01">01-07-2007</time>
                        Bart-Jan Verhoef
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button" data-date="2012-01-01" data-image="assets/images/backgrounds/2012-01-01.jpg">
                        <time class="navigation__date" timestamp="2012-01-01">01-01-2012</time>
                        Olaf Muller
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button" data-date="2013-05-01">
                        <time class="navigation__date" timestamp="2013-05-01">01-05-2013</time>
                        Pim van Die
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button" data-date="2017-11-01" data-image="assets/images/backgrounds/2017-11-01.jpg">
                        <time class="navigation__date" timestamp="2017-11-01">01-11-2017</time>
                        Tim Severien
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button" data-date="2017-03-31" data-image="assets/images/backgrounds/2017-03-31.jpg">
                        <time class="navigation__date" timestamp="2017-03-31">31-03-2017</time>
                        10 Year Anniversary
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="anchor js-preset-button js-preset-today" data-date="0000-00-00" data-image="assets/images/backgrounds/today.jpg">
                        <span class="navigation__date js-preset-today-display">0000-00-00</span>
                        Today
                    </button>
                </li>
            </ul>
        </nav>

        <div class="logo">
            <svg height="512" width="512" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <clippath id="logo-shape">
                        <path d="M 0 -0.75 L 0.75 0 L 0 0.75 L -0.75 0 z" class="js-logo-path" />
                    </clippath>
                </defs>

                <path d="M -1 -1 L 1 1 z" fill="#f2f2f4" class="js-logo-background is-hidden" />

                <g style="clip-path: url(#logo-shape)">
                    <rect x="-1" y="-1" width="2" height="2" fill="#1e283c" class="js-logo-fill" />
                    <image xlink:href="#" x="-1" y="-1" height="2" width="2" class="js-logo-image" style="opacity: 0" />
                </g>

                <!-- TODO: Get rid of transforms -->
                <g fill="white" style="transform: translate(-.75px, -.75px) scale(.015);">
                    <polygon class="st0" points="21.1,66.8 22.7,66.8 23.9,70.4 25,66.8 26.6,66.8 24.7,72.1 23,72.1" />
                    <rect x="27.2" y="64.6" class="st0" width="1.6" height="1.6" />
                    <rect x="27.3" y="66.8" class="st0" width="1.6" height="5.3" />
                    <path class="st0" d="M32.6,69.5c0-1.6,1.2-2.8,2.8-2.8c1.2,0,2.1,0.6,2.5,1.5l-1.5,0.6c-0.2-0.4-0.5-0.7-1-0.7
            c-0.7,0-1.1,0.6-1.1,1.4c0,0.8,0.5,1.4,1.2,1.4c0.5,0,0.9-0.3,1-0.7l1.5,0.6c-0.4,0.8-1.3,1.5-2.5,1.5
            C33.8,72.2,32.6,71.1,32.6,69.5z" />
                    <path class="st0" d="M38.5,69.5c0-1.6,1.2-2.8,2.8-2.8c1.6,0,2.8,1.1,2.8,2.8c0,1.6-1.3,2.8-2.8,2.8C39.7,72.2,38.5,71.1,38.5,69.5
        z M42.5,69.5c0-0.8-0.5-1.4-1.2-1.4c-0.7,0-1.2,0.6-1.2,1.4c0,0.8,0.5,1.4,1.2,1.4C42,70.8,42.5,70.3,42.5,69.5z" />
                    <path class="st0" d="M45.2,66.8h1.3l0.2,0.7c0.3-0.4,0.8-0.8,1.6-0.8c0.7,0,1.2,0.3,1.5,0.8c0.2-0.4,0.8-0.8,1.6-0.8
            c1.1,0,1.9,0.7,1.9,2.1v3.3h-1.6V69c0-0.6-0.2-0.9-0.7-0.9c-0.5,0-0.9,0.4-0.9,1.4v2.6h-1.6V69c0-0.6-0.2-0.9-0.7-0.9
            c-0.5,0-0.9,0.5-0.9,1.4v2.5h-1.6V66.8z" />
                    <path class="st0" d="M54.5,66.8h1.3l0.2,0.6c0.3-0.4,0.9-0.7,1.7-0.7c1.3,0,2.5,1,2.5,2.8c0,1.8-1.3,2.8-2.6,2.8
        c-0.7,0-1.3-0.3-1.5-0.6v2.6h-1.6V66.8z M58.6,69.5c0-0.8-0.6-1.4-1.3-1.4c-0.7,0-1.3,0.5-1.3,1.4c0,0.8,0.6,1.4,1.3,1.4
        C58.1,70.8,58.6,70.3,58.6,69.5z" />
                    <path class="st0" d="M61,69.5c0-1.8,1.3-2.8,2.5-2.8c0.7,0,1.2,0.3,1.5,0.6l0.2-0.4h1.5v5.3h-1.4L65,71.6c-0.2,0.3-0.7,0.6-1.6,0.6
        C62.1,72.2,61,71.1,61,69.5z M65.1,69.5c0-0.8-0.5-1.4-1.3-1.4c-0.7,0-1.3,0.5-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4
        C64.5,70.8,65.1,70.3,65.1,69.5z" />
                    <path class="st0" d="M67.9,66.8h1.3l0.2,0.7c0.3-0.4,0.9-0.8,1.6-0.8c1.1,0,1.9,0.7,1.9,2.1v3.3h-1.6v-3c0-0.7-0.3-1-0.8-1
            c-0.5,0-1,0.5-1,1.4v2.5h-1.6V66.8z" />
                    <polygon class="st0" points="74.5,74.2 75.4,71.8 73.3,66.8 75,66.8 76.2,70.1 77.2,66.8 78.9,66.8 76.1,74.2" />
                </g>
            </svg>

            <div class="switch">
                <div class="switch__label">Hexagon background</div>

                <div class="switch__options">
                    <input type="radio" name="switch" value="off" class="switch__option js-toggle-background" checked>
                    <input type="radio" name="switch" value="on" class="switch__option js-toggle-background">

                    <div class="switch__state"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
    <script src="assets/scripts/main.js"></script>

</body>

</html>
