<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VI Company Academy Logo</title>
</head>
<body>

<svg height="512" width="512" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg" class="shape">
    <path d="M 50 0 L 100 50 L 50 100 L 0 50 z" fill="black" class="js-path" />
</svg>

<script src="assets/scripts/main.js"></script>

</body>
</html>
